@import "../../index.scss";

// .star {
//   position: "fixed";
//   top: "20%";
//   left: "-20px";
//   background-color: "transparent";
// }


section {
    overflow: hidden;
}

.team {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-text {
        font-family: $font-jost;
        font-size: 5rem;
    }

}


//TEAM 1
.t1 {
    position: relative;

    .line {
        position: absolute;
    }
    .top {
        top: 30%;
        left: 0%;
    }
    .bottom {
        bottom: 30%;
        right: 0%;
    }
    .left {
        transform: rotate(90deg);
        top: -300%;
        right: 25%;
    }
    .right {
        transform: rotate(90deg);
        bottom: 0%;
        left: 25%;
    }
}