@import "../../index.scss";

.app__projects {
  // background-color: rgb(34, 124, 214);
  overflow: hidden;

  .app__project-item {
    display: flex;

    img {
      height:60%;
      width: 60%;
    }
  }
}