@import "../../index.scss";

.manifesto {
  position: absolute;
  bottom: 7%;
  width: 100%;
  h1 {
    font-family: "New Xpossible Font", sans-serif;
    margin: $page-margin-mobile;
    font-size: 2rem;
    text-transform: uppercase;
    span {
      display: block;
    }
  }
  hr {
    height: 2px;
    width: 100%;
    color: #0c0728;
    background-color: #0c0728;
  }
  @include tablet {
    h1 {
      font-size: 5rem;
    }
  }
  @include desktop {
    h1 {
      font-size: 6rem;
    }
  }
}
